<h1>Ceate Vehicle Form</h1>
<form  [formGroup]="vehicleForm">
<label>Vehicle:</label>
<input type="text" name="" id="" formControlName="vehicle">
<br>
<label>Manufacturer:</label>
<input type="text" name="" id="" formControlName="manufacturer">
<br>

<label>Model:</label>
<input type="text" name="" id="" formControlName="model">
<br>

<label>Type:</label>
<input type="text" name="" id="" formControlName="type">
<br>

<label>Fuel:</label>
<input type="text" name="" id="" formControlName="fuel">
<br>
<label>Color:</label>
<input type="text" name="" id="" formControlName="color">
<br>
<label>Image:</label>
<input type="text" name="" id="" formControlName="image">
<br>

<label>Cost:</label>
<input type="number" name="" id="" formControlName="cost">
<br>

<button (click)="createVehicle()">Create Vehicle </button>
</form>
