<div class="parent">
  <div class="left">
    <h3 routerLink="home">Home</h3>
    <h3>Welcome</h3>
    <h3 routerLink="calculator">Calculator</h3>
    <h3 routerLink="data-binding">Data Binding</h3>
    <h3 routerLink="directives">Directives</h3>
    <h3 routerLink="register">Registration</h3>
    <h3 routerLink="add-employee">Add Employee</h3>
    <h3 routerLink="employee">Employee</h3>
    <h3 routerLink="vehicle">Vehicle</h3>
    <h3 routerLink="account">Account</h3>
    <h3 routerLink="flipkart">Flipkart</h3>
    <h3 routerLink="weather">Weather</h3>
    <h3 routerLink="imdb">IMDB</h3>
    <h3 routerLink="blog">Blog</h3>
    <h3 routerLink="student-id">Student ID cards</h3>
    <h3 routerLink="pokemon">Pokemon</h3>
    <h3 routerLink="create-vehicle">Create Vehicle</h3>
    <button routerLink="/login">Logout</button>
  </div>
  <div class="right">
    <router-outlet></router-outlet>
  </div>
</div>
